@page "/counter"

<h1>Counter</h1>

<p>Current count: @(alerts?.Count() ?? 0)</p>

<button class="btn btn-primary" @onclick="AddAlert">Add alert</button>

@if (alerts == null)
{
    <p>Loading...</p>
}
else if (alerts.Count == 0)
{
    <p>No alerts in list</p>
}
else
{

    @foreach (var alert in alerts)
    {
        <AlertMessage>
            <span>This is an alert @alert</span>
        </AlertMessage>
    }
}

@code {
    private List<int> alerts;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000);
        alerts = new List<int>();
    }

    private void AddAlert()
    {
        alerts.Add(alerts.DefaultIfEmpty(0).Max() + 1);
    }
}